<div class="row head">
<div class="header" >
  <div class="col s9">
  <img src="../../images/logo.png" alt="logo" />
  
  <h4><b>वैज्ञानिक तथा औद्योगिक अनुसंधान परिषद</h4></b> 
  <h6><b>COUNCIL OF SCIENTIFIC & INDUSTRIAL RESEARCH<b></h6>
  <h6><b>(विज्ञान एवं प्रौद्योगिकी मंत्रालय, भारत सरकार)<b></h6>
  <h6><b>COUNCIL OF SCIENCE & TECHNOLOGY, GOVT. OF INDIA</b></h6>
</div>
</div>
<div class="col-s3">
  <img src="../../images/csir_logo.png" alt="logo"  width="130" height="150" style="float:right; margin-right:2%;" />
</div>


</div>
