  <div class="navbar">
   <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">INDENT FORM</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/user/login">Login</a></li>
        <li><a href="/user/register">Register</a></li>
        </ul>
          <ul class="left hide-on-med-and-down">
          <li class="active"><a href="/">Home</a></li>
      </ul>
    </div>
  </nav
  </div>