<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <META Http-Equiv="Cache-Control" Content="no-cache">
<META Http-Equiv="Pragma" Content="no-cache">
<META Http-Equiv="Expires" Content="0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
          
    <title>CSIR</title>
 <link rel="icon" type="image/png" href="../../images/logo.png">

      
    
</head>
<body>
  <main>
  {{> _header}}
   </main>
  {{> _nav}}
<div class = "container">
  <br>
  <br>
     {{> _msg}}
    {{> _errors}}
    {{{body}}}

   
    </div>
    
     {{> _footer}}
   
    <script
  src="http://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
            
   <script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
     <script
  src="http://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
   <script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
     <script>
$(document).ready(function() {
    $('select').material_select();
});      
</script> 
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, options);
  });
  $(document).ready(function(){
    $('.modal').modal();
  });
     
</script>
<script>
  window.onscroll = function() {myFunction()};

// Get the navbar
var navbar = document.getElementById("myTopnav");

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>
<script>
 var counter = 1;
jQuery('a.add-row').click(function(event){
    event.preventDefault();
    counter++;
    if(counter <=3){
    if(counter == 2)
    {
    var newRow = jQuery('<tr><td><input style="margin-bottom: 0%;background-color:white;" type="text"  name = "one4"' +
        counter + '"/></td><td><textarea style="margin-bottom: 0%; background-color:white;" type="text"  name = "two4"' +
        counter + '"/></td><td><input style="margin-bottom: 0%; background-color:white;" value = "0" type="number"  name = "three4"'+
        counter + '"/></td><td><input style="margin-bottom: 0%;background-color:white;" value = "0" type="number"  name = "four4"'+
        counter + '"/></td></tr>');
    $(newRow).insertAfter("table.table tr:last");
    //jQuery('table.table').append(newRow);
    }
    else {
         var newRow = jQuery('<tr><td><input style="margin-bottom: 0%;background-color:white;" type="text"  name = "one5"' +
        counter + '"/></td><td><textarea style="margin-bottom: 0%; background-color:white;" type="text"  name = "two5"' +
        counter + '"/></td><td><input style="margin-bottom: 0%; background-color:white;" value = "0" type="number"  name = "three5"'+
        counter + '"/></td><td><input style="margin-bottom: 0%;background-color:white;" value = "0" type="number"  name = "four5"'+
        counter + '"/></td></tr>');
    $(newRow).insertAfter("table.table tr:last");
    //jQuery('table.table').insertRow(newRow);
    }
    }

});


</script>
<script>
 $(document).ready(function(){
    $('#modal').modal();
    $('#modal').modal('open'); 
 });
</script>
</script>
</body>

</html>