<div class="indentform">
<h5>Purchase Indent</h5>
<h6 class="abc">INDENT NO: <b>41/1TD/2017-18/JAN</b> </h6>
<form action="/" method="post">
<p class="des">Name & designation of the Indenter:<input style="margin-bottom: 0% ; width:250px;" type="text"  name = "name">
<br>
Division: <input style="margin-bottom: 0% ; width:250px;" type="text"  name = "division"></p>
 

<br>
<br>
{{!-- <h4 class="center"><b>Budget Head-...P-50</b></h4> --}}
<table class="table table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input style="margin-bottom: 0%" type="text"  name = "one"></td>
        <td><input style="margin-bottom: 0%" type="text"  name = "two"></td>
        <td><input style="margin-bottom: 0%" type="text"  name = "three"></td>
      </tr>
      {{!-- <tr>
          <td><input style="margin-bottom: 0%" type="text"  name = "objname"></td>
        <td><input style="margin-bottom: 0%" type="text"  name = "objname"></td>
        <td><input style="margin-bottom: 0%" type="text"  name = "objname"></td>
      </tr>
      <tr>
           <td><input style="margin-bottom: 0%" type="text"  name = "objname"></td>
        <td><input style="margin-bottom: 0%" type="text"  name = "objname"></td>
        <td><input style="margin-bottom: 0%" type="text"  name = "objname"></td>
      </tr> --}}
    </tbody>
  </table>
  <input type="submit" value = "Save" class="btn">
  </form>
 
  <p>Certified that to the best of our knowledge, the items indented are the propietary items of M/s:  <input style="margin-bottom: 0% ; width:250px;" type="text"  name = "objname">and marketed by their only authorize disributer.M/s: <input style="margin-bottom: 0% ; width:250px;" type="text"  name = "objname">in India. We shall be held responsible in case the certificate is found to be incorrect.
  </p>
  </div>