
<div class="random" style="margin-left:10%;">
  <div class="row">
    <div class="col s12 m6">
      <div class="card clr large  darken-1">
        <div class="card-content ">
          <span class="card-title text-color"><h2><b>Welcome to IndentApp:</b></h2></span>
          <p><span class="text-color"><b>This App let you create indent form without any extra efforts
& this app will keep track of all the indent forms which are created using this APP</b></span></p>
        </div>
        <div class="card-action">
          {{#if user}}

          {{else}}
          <a href="/user/login" class="btn btn red">Login</a>
<a href="/user/register" class="btn btn red">Register</a> 
       {{/if}}
        </div>

      </div>
    </div>
  </div>
  </div>

  
  </div>
  <br>

