 
<style>
    .color{
        color: black;
        text-align: center;
    }
</style>
 <div class="container">
 <h1 class="color"><b>Welcome Admin</b></h1>
 <br><br><br><br>
 <a href="/viewall" class="btn btn red">View all Indent Forms</a>
<a href="/viewuser" class="btn btn red">List of active Users</a> 
</div>
<br><br><br><br><br><br><br>