 
<style>
    .color{
        color: black;
        text-align: center;
    }
    .btn {
        background-colo:#13AFE1;
    }
</style>
 <div class="container">
 <h1 class="color"><b>Welcome Admin</b></h1>
 <br><br><br><br>
 <a href="/viewall" class="btn"><i class="fa fa-eye"></i>&ensp; View all Indent Forms</a>
<a href="/viewuser" class="btn"><i class="fa fa-list-ol"></i>&ensp; List of active Users</a>
<br><br><br>
 <a href="/deletedform" class="btn"><i class="fa fa-history"></i>&ensp; Deleted form History</a>
<a href="/deleteduser" class="btn"><i class="fa fa-history"></i>&ensp; Deleted User History</a> 
</div>
<br><br><br><br><br><br><br>