<META Http-Equiv="Cache-Control" Content="no-cache">
<META Http-Equiv="Pragma" Content="no-cache">
<META Http-Equiv="Expires" Content="0">
<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
}
.push-footer{
    margin-top:15%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: blue;
    color: white;
}
</style>

<br><br>

<table id="customers">
  
  {{#if result}}
  <h1>History:</h1>
  <tr>
    <th>IndentNo</th>
    <th>Division</th>
    <th>View</th>
  </tr>
{{#each result}}
  <tr>
    <td>{{indentno}}</td>
    <td>{{division}}</td>
    <td><a href="/indent/{{indentno}}">view</a></td>
  </tr>
  {{/each}}
  {{else}}
 <div class="push-footer">
  you have not created any indent form yet. :)
  </div>
  {{/if}}
 
</table>
<br><br>
<br><br>


