<style>
  h5 {
    text-align: center
  }
</style>

{{#if user}}

<div class="indentform">
<h5 ><u><b>Purchase Indent</b></u></h5>
<br>
<br>
<br>

<form action="/" method="post">

<p ><b> INDENT NO.<input style="margin-bottom: 0% ;margin-right:32%;  ;background-color:white;width:250px;" type="text"  name = "indentno" > Date.<input style="margin-bottom: 0% ;  width:250px; float:right" type="date"  name = "date" required></b></p>
<p >Name & designation of the Indenter:<input style="margin-bottom: 0% ; width:200px;background-color:white;" type="text"  name = "name" required>
<br>
Division: <input style="margin-bottom: 0% ; width:250px;;background-color:white;" type="text"  name = "division"></p>
 

<br>
<br>
{{!-- <h4 class="center"><b>Budget Head-...P-50</b></h4> --}}
<table id = "myTable"class="table table-hover">
    <thead>
      <col width = "80">
      <col width = "550">
      <col width = "80">
      <tr>
        <th>Sr.no</th>
        <th>Name of Item/Material</th>
        <th>Qty</th>
        <th>Estimated cost(`)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input style="margin-bottom: 0%;background-color:white;" type="text"  name = "one1"></td>
        <td><input style="margin-bottom: 0%;background-color:white;" type="text"  name = "two1"></td>
        <td><input style="margin-bottom: 0%;background-color:white;" type="text"  name = "three1"></td>
       <td><input style="margin-bottom: 0%;background-color:white;" type="text"  name = "four1"></td>
       </tr>
        <tr>
        <td><input style="margin-bottom: 0%;background-color:white;" type="text"  name = "one2"></td>
        <td><input style="margin-bottom: 0%;background-color:white;" type="text"  name = "two2"></td>
        <td><input style="margin-bottom: 0%;background-color:white;" type="text"  name = "three2"></td>
       <td><input style="margin-bottom: 0%;background-color:white;" type="text"  name = "four2"></td>
       </tr>
        <tr>
        <td><input style="margin-bottom: 0%;background-color:white;" type="text"  name = "one3"></td>
        <td><input style="margin-bottom: 0%; background-color:white;" type="text"  name = "two3"></td>
        <td><input style="margin-bottom: 0%; background-color:white;" type="text"  name = "three3"></td>
       <td><input style="margin-bottom: 0%;background-color:white;" type="text"  name = "four3"></td>
       </tr>
      
    </tbody>
  </table>
 
 <ol>
  <li><p>  Certified that to the best of our knowledge, the items indented are the propietary items of M/s:  <input style="margin-bottom: 0% ; width:250px;background-color:white;" type="text"  name = "innernm1">and marketed by their only authorize disributer.M/s: <input style="margin-bottom: 0% ; width:250px;" type="text"  name = "innernm2">in India. We shall be held responsible in case the certificate is found to be incorrect.
  </p></li>
  <br>
   <li><p> The requirement could not be anticipated earlier, is emergent is nature. The items are required for Project No .  <input style="margin-bottom: 0% ; width:250px;background-color:white;" type="text"  name = "projectno">a sponsored / In house project and the deadline for delivery is <input style="margin-bottom: 0% ; width:250px;" type="text"  name = "deadline">The consequence if the item is not procured within the dead line is <input style="margin-bottom: 0% ; width:250px;" type="text"  name = "consequence">
  </p></li>
  <br>
   <li><p>  The details about the equipment, availability of spares, ease of maintainance etc.  <input style="margin-bottom: 0% ; width:250px;background-color:white;" type="text"  name = "equipdetails">
  </p></li>
  <br>
   <li><p>  <input style="margin-bottom: 0% ; width:250px;background-color:white;" type="text"  name = "delreqnm">The delivery of the item is required by.
  </p></li>
  <br>
   <li><p >  The availability of funds: <input type="radio" style="margin-left:10px; background-color:white;" name="fundavail" id="yes" value="yes">
        <label for="yes"><b>yes</label> <input  type="radio" name="fundavail" id="no" value="no">
        <label for="no"><b>no</label><br>
        Name od Project :  <input style="margin-bottom: 0% ; width:250px; background-color:white;" type="text"  name = "projectnm">
        <br>Budget Provision :  <input style="margin-bottom: 0% ; width:250px;" type="text"  name = "budget">
        <br>
        <br>
       Whether necessary fund is available to process this item<br>(This should commensurate with the delivery Schedule)<br> PME/Accounts  <input type="radio" name="necfundavail" id="yes1" value="yes">
        <label for="yes1"><b>yes</label> <input  type="radio" name="necfundavail" id="no1" value="no">
        <label for="no1"><b>no</label><br>
  <br>
   
      <li><p>  The installation Requirement like area , power , civil works etc. are ready ?  <input type="radio"    name="installreq" id="yes2" value="yes">
        <label for="yes2"><b>yes</label> <input  type="radio" name="installreq" id="no2" value="no">
        <label for="no2"><b>no</label><br>
  </p></li>
      
  
   <li><p>  The list of available vendors. Their addresses and websites whrever available.  <br>1.<input style="margin-bottom: 0% ;background-color:white; width:250px;" type="text"  name = "vend1"> <br> 2. <input style="margin-bottom: 0% ; width:250px;" type="text"  name = "vend2"> <br>3.<input style="margin-bottom: 0% ; width:250px;" type="text"  name = "vend3">
  </p></li>
  <br>
   <li><p>  The inspection schedule for the item is under:  <input style="margin-bottom: 0% ; width:250px;background-color:white;" type="text"  name = "inspectionunder">
  </p></li>
  <br>
   <li><p>  Certified that the item is not available in stores:   <input style="margin-bottom: 0% ; width:250px; background-color:white;" type="text"  name = "certifiedavail">
  </p></li>
  <br>
  
</ol>
   <input type="submit" value = "Save" class="btn">
  </form>
  </div>
  </div>
  {{else}}
  not an user
  {{/if}}
